<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38015458388-ndr2g6e5j1prddndf5vsc9bma5r61lsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38015458388-ndr2g6e5j1prddndf5vsc9bma5r61lsp</string>
	<key>API_KEY</key>
	<string>AIzaSyDCgxpY4fs7HrgCQW1AADt4Ei7fUx1F8_M</string>
	<key>GCM_SENDER_ID</key>
	<string>38015458388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFlutterApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>speechassistiveapp-2d136</string>
	<key>STORAGE_BUCKET</key>
	<string>speechassistiveapp-2d136.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38015458388:ios:aa41a6a906b387344c61c1</string>
</dict>
</plist>